
<!-- Button trigger modal -->

<div style="margin-bottom: 20px" class="btn-group btn-group-justified" role="group" aria-label="...">
    <div class="btn-group" role="grou0p">
        <button id="show_japanese" style="font-size: 60px" type="button" class="btn btn-primary btn-lg">显示假名</button>
    </div>
    <div class="btn-group" role="group">
        <button id="show_chinese"  style="font-size: 60px"  type="button" class="btn btn-default">显示中文</button>
    </div>
</div>

<div class="page-header">
    <h1>欢迎来到Crxzy的日语学习空间<small>日本語学習スペースCrxzyへようこそ</small></h1>
</div>