<html lang="en">
<head>
    <script>
        function back(html)
        {
            alert(html);
            location.reload();
        }
    </script>
</head>
<body>
    <Component component="Database" name="db2" host="localhost" database="student_schedule" password="Crxzy123520" username="root" display="hidden"></Component>
    <label>用户名：</label>
    <input name="username" type="text"/>
    <label>密码：</label>
    <input name="password" type="password"/>
    <label>验证码：</label>
    <input name="checkcode" type="text"/>
    <img src="test.gif"/>
    <button class="submit">提交</button>
</body>
</html>